@use "../abstracts/variables" as var;
@use "../abstracts/mixins" as mix;

.btn {
    padding: 0.5em 2em;
    @include mix.flexCol(center, center);

    @at-root &_primary {
        color: var.$clr-primary-dark;
        text-transform: uppercase;
        letter-spacing: 0.5ch;
        border: 2px solid var.$clr-neutral-mid;
    }
}