@use "../abstracts/variables" as var;
@use "../abstracts/mixins" as mix;

.card {
  @include mix.flexCol(center, center);

  @at-root &__title {
    z-index: 10;
  }

  @at-root &__body {
    @include mix.flexCol(center, center);
    background-color: var.$clr-primary-light;
  }

  @at-root &_txt_light {
    color: var.$clr-primary-light;
  }
  @at-root &_txt_dark {
    color: var.$clr-neutral-mid;
  }

  @at-root &_bg_light {
    background-color: var.$clr-primary-light;
  }
  @at-root &_bg_img {
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: flex-end;
    align-items: flex-start;

    // Overlay
    &::before {
      content: "";
      position: absolute;
      inset: 0;
      background-image: linear-gradient(to right, black, transparent);
      opacity: 0.8;
    }
  }
  @at-root &_bordered {
    border: 2px solid currentColor;
  }

  @at-root &_pd_s {
    padding: 1.3em 1.5em;
  }
  @at-root &_pd_lg {
    padding: 3em 1.6em;
  }
}
