.grid {
    display: grid;
    grid-template-rows: repeat(10, auto);
    row-gap: 2rem;

    @at-root &__item {
        text-decoration: none;
    }

    @at-root &__card {
        height: 8rem;

        .card__title {
            max-width: 8rem;
            text-align: start;
        }
    }
}