.grid {
    display: grid;
    grid-template-rows: repeat(10, auto);
    gap: 2rem;

    @at-root &__item {
        text-decoration: none;
        order: var(--order);
    }

    @at-root &__card {
        height: 8rem;
        background-image: var(--bg-mobile);
        
        .card__title {
            max-width: 8rem;
            text-align: start;
        }
    }
}