@use "../abstracts/mixins" as mix;

.main {
    padding: 2em 5%;
    @include mix.flexCol(center, center);
    row-gap: 3rem;

    @at-root &__section {
        width: 100%;
    }

    @at-root &__card {
        position: relative;
    }
}
