@use "../abstracts/variables" as var;
@use "../abstracts/mixins" as mix;

.menu {
    @include mix.flexRow(center, center);
    column-gap: 40px;

    @at-root .menu__item {
        color: var.$clr-primary-light;
    }

    @at-root .menu__link,
    .menu__link:link,
    .menu__link:visited,
    .menu__link:hover,
    .menu__link:focus,
    .menu__link:active {
        color: var.$clr-primary-light;
        text-decoration: none;
    }
}