@use "../abstracts/mixins" as mix;

.header {
    @include mix.mediaQuery(tabletPortrait) {
        background-image: url("../../../images/desktop/image-hero.jpg");
        align-items: flex-start;

        padding: 4em 10%;
        row-gap: 7em;

        @at-root .header__card {
            max-width: 42rem;
        }
    }
}