@use "../abstracts/mixins" as mix;

.main {
  @include mix.mediaQuery(tabletLandscape) {
    &__card {
      flex-direction: row;
      align-items: strecth;
      justify-content: flex-start;
      width: 100%;

      .card__body {
        position: absolute;
        left: 50%;
        bottom: 0;
        align-items: flex-start;
        width: 500px;
      }
    }

    padding: 4em 10%;
    row-gap: 9rem;
  }
}
