@use "../abstracts/mixins" as mix;

.main {
  &__card {
    @include mix.mediaQuery(tabletPortrait) {
      flex-direction: row;
      align-items: strecth;
      justify-content: stretch;

      .card__img {
        flex: 1.5;
      }
      .card__body {
        flex: 1;
        align-items: flex-start;
        // position: relative;
        // right: 15%;
        // top: 100px;
      }
    }
  }

  @include mix.mediaQuery(tabletPortrait) {
    padding: 4em 10%;
  }
}
