/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove default button styling */
button {
  background: none;
  border: none;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
*::before,
*::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/*-------------------------------
            COLORS
---------------------------------*/
/*-------------------------------
            TYPOGRAPHY
---------------------------------*/
/*-------------------------------
            BREAKPOINTS
---------------------------------*/
body {
  background-color: white;
  font-family: "Alata", sans-serif;
  font-size: 0.9375rem;
  font-weight: 400;
  color: hsl(0deg, 0%, 55%);
  text-align: center;
}

h1,
h2,
h3 {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  line-height: 1;
}

h1 {
  font-size: clamp(2.6rem, 10vw, 4.5rem);
  text-align: start;
}

h2 {
  font-size: clamp(2rem, 5vw, 2.5rem);
  color: hsl(0deg, 0%, 0%);
  margin-bottom: 1.5rem;
}

h3 {
  font-size: 1.5rem;
}

.header {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  row-gap: 11em;
  background-image: url("../../../images/mobile/image-hero.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left center;
  padding: 2em 5%;
  height: 650px;
}

.menu {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  column-gap: 40px;
}
.menu__item {
  color: hsl(0deg, 0%, 100%);
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  row-gap: 4px;
}
.menu__item::after {
  content: "";
  height: 2px;
  width: 4px;
  border-radius: 1px;
  transition: transform 0.1s ease;
}

.menu__link,
.menu__link:link,
.menu__link:visited,
.menu__link:hover,
.menu__link:focus,
.menu__link:active {
  color: inherit;
  text-decoration: none;
}

.nav {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
}
.nav__logo {
  width: clamp(110px, 40%, 160px);
}

.nav__menu {
  display: none;
}

.card {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
}
.card__title {
  z-index: 10;
}

.card__body {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  background-color: hsl(0deg, 0%, 100%);
}

.card_txt_light {
  color: hsl(0deg, 0%, 100%);
}

.card_txt_dark {
  color: hsl(0deg, 0%, 55%);
}

.card_bg_light {
  background-color: hsl(0deg, 0%, 100%);
}

.card_bg_img {
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: flex-end;
  align-items: flex-start;
}
.card_bg_img::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: linear-gradient(to right, black, transparent);
  opacity: 0.8;
}

.card_bordered {
  border: 2px solid currentColor;
}

.card_pd_s {
  padding: 1.3em 1.5em;
}

.card_pd_lg {
  padding: 3em 1.6em;
}

.main {
  padding: 2em 5%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  row-gap: 3rem;
  width: 100%;
}
.main__section {
  width: 100%;
}

.main__card {
  position: relative;
}

.grid {
  display: grid;
  grid-template-rows: repeat(10, auto);
  gap: 2rem;
}
.grid__item {
  text-decoration: none;
  order: var(--order);
}

.grid__card {
  height: 8rem;
  background-image: var(--bg-mobile);
}
.grid__card .card__title {
  max-width: 8rem;
  text-align: start;
}

.btn {
  padding: 0.5em 2em;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
}
.btn_primary {
  color: hsl(0deg, 0%, 0%);
  text-transform: uppercase;
  letter-spacing: 0.5ch;
  border: 2px solid hsl(0deg, 0%, 55%);
}

.footer {
  width: 100%;
  background-color: hsl(0deg, 0%, 0%);
  display: grid;
  place-items: center;
  row-gap: 2rem;
  padding: 4rem 5%;
}
.footer > * {
  order: var(--order);
}
.footer__menu {
  flex-direction: column;
  row-gap: 0.9rem;
}

.footer__social {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  column-gap: 15px;
}

@media (min-width: 811px) {
  body {
    text-align: start;
  }
}

@media (min-width: 811px) {
  .header {
    background-image: url("../../../images/desktop/image-hero.jpg");
    align-items: flex-start;
    padding: 4em 10%;
    row-gap: 7em;
  }
  .header__card {
    max-width: 42rem;
  }
}

@media (min-width: 1024px) {
  .main {
    padding: 4em 10%;
    row-gap: 9rem;
  }
  .main__card {
    flex-direction: row;
    align-items: strecth;
    justify-content: flex-start;
    width: 100%;
  }
  .main__card .card__body {
    position: absolute;
    left: 50%;
    bottom: 0;
    align-items: flex-start;
    width: 500px;
  }
}

@media (min-width: 1024px) {
  .nav__menu {
    display: flex;
  }
  .nav__menu-toggle {
    display: none;
  }
}

.menu__item:hover::after,
.menu__item:focus::after {
  background-color: currentColor;
  transform: scaleX(5);
}

.card_bg_img:hover {
  color: hsl(0deg, 0%, 0%);
}
.card_bg_img:hover::before {
  background-image: none;
  background-color: white;
}

@media (min-width: 811px) {
  .card_pd_lg {
    padding: 5em 4em;
  }
}

.btn_primary:hover, .btn_primary:focus-visible {
  background-color: hsl(0deg, 0%, 0%);
  color: hsl(0deg, 0%, 100%);
}

@media (min-width: 1024px) {
  .grid {
    grid-template-columns: repeat(4, auto);
    grid-template-rows: repeat(2, auto);
  }
  .grid__item:nth-child(1), .grid__item:last-child {
    grid-column: span 2;
  }
  .grid__item:last-child {
    order: 0;
  }
  .grid__card {
    height: 25rem;
    background-image: var(--bg-desktop);
  }
}

@media (min-width: 1024px) {
  .footer {
    grid-template-columns: repeat(2, 50%);
    place-items: start;
  }
  .footer__menu {
    flex-direction: row;
    --order: 0 !important;
  }
}

body {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  row-gap: 4rem;
}

/*# sourceMappingURL=main.css.map */
