/*-------------------------------
            COLORS
---------------------------------*/
$clr-primary-light: hsl(0, 0%, 100%);
$clr-primary-dark: hsl(0, 0%, 0%);
$clr-neutral-mid: hsl(0, 0%, 55%);
$clr-neutral-dark: hsl(0, 0%, 41%);

/*-------------------------------
            TYPOGRAPHY
---------------------------------*/
$font-families: (
  primary: 'Josefin Sans', sans-serif,
  neutral: 'Alata', sans-serif,
);
$font-sizes: (
  s1: 2rem,
  s2: 1.5rem,
  s3: 1.2rem,
  neutral: 0.9375rem,
);
$font-weights: (
  primary: 300,
  neutral: 400,
);

/*-------------------------------
            BREAKPOINTS
---------------------------------*/
$breakpoints: (
  phone: 375px,
  tabletPortrait: 769px,
  tabletLandscape: 1024px,
  laptop: 1280px,
);
