@use "./abstracts/variables" as var;

body {
  background-color: white;
  font-family: map-get($map: var.$font-families, $key: neutral);
  font-size: map-get($map: var.$font-sizes, $key: neutral);
  font-weight: map-get($map: var.$font-weights, $key: neutral);
  color: var.$clr-neutral-mid;
  text-align: center;
}

h1,
h2,
h3 {
  font-family: map-get($map: var.$font-families, $key: primary);
  font-weight: map-get($map: var.$font-weights, $key: primary);
  color: var.$clr-primary-dark;
}

h1 {
  font-size: map-get($map: var.$font-sizes, $key: s1);
  color: var.$clr-primary-light;
  text-transform: uppercase;
  text-align: start;
  line-height: 1;
}
h2 {
  font-size: map-get($map: var.$font-sizes, $key: s2);
}
h3 {
  font-size: map-get($map: var.$font-sizes, $key: s3);
}
